.App {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.pulsing-cursor {
  width: 15px;
  height: 15px;
  background-color: #4ea699;
  border-radius: 50%;
  animation: pulse 2s infinite;
  display: inline-block;
  margin-left: 40px;
}

.pulsing-record-button {
  width: 65px;
  height: 65px;
  background-color: red;
  border-radius: 50%;
  animation: pulse 2s infinite;
  display: inline-block;
  margin-left: 40px;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.loading {
  width: 80%;
  padding: 20px;
  background-color: #ffffff00;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}